server {
        listen 80;

        server_name  localhost;

        access_log  {{project_root}}/logs/access.log;
        error_log {{project_root}}/logs/error.log;

        keepalive_timeout 3;

        root {{project_root}}/code/public;                                                                               

        location /static/uploads {
             alias {{project_root}}/code/legacy_media/uploads;
	     access_log off;
             expires 31d;
        }

        location /media/images {
             alias {{project_root}}/code/legacy_media/images;
	     access_log off;
             expires 31d;
        }

        location /media {
             alias {{project_root}}/code/public/media;
	     access_log off;
             expires 31d;
        }

        location /static {
             alias {{project_root}}/code/public/static;
	     access_log off;
             expires 31d;
        }

        location / {
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_set_header Host $http_host;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Url-Scheme $scheme;
                proxy_redirect off;

                proxy_pass http://127.0.0.1:30000;
                break;
        }

        error_page 500 502 503 504 /500.html;
        location = /500.html {
                root {{project_root}}/code/templates;
        }
}

server {
        listen  443;

        server_name  localhost;

        access_log  {{project_root}}/logs/access.log;
        error_log {{project_root}}/logs/error.log;

        keepalive_timeout 3;

        root {{project_root}}/code/public;                                                                               

        ssl on;
        ssl_certificate  /etc/nginx/ssl/server.crt;
        ssl_certificate_key /etc/nginx/ssl/server.key;



        location /static/uploads {
             alias {{project_root}}/code/legacy_media/uploads;
      	     access_log off;
             expires 31d;
        }

        location /media/images {
             alias {{project_root}}/code/legacy_media/images;
	     access_log off;
             expires 31d;
        }

        location /media {
             alias {{project_root}}/code/public/media;
	     access_log off;
             expires 31d;
        }

        location /static {
             alias {{project_root}}/code/public/static;
	     access_log off;
             expires 31d;
        }

        location / {
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_set_header Host $http_host;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Url-Scheme $scheme;
                proxy_redirect off;

                proxy_pass http://127.0.0.1:30000;
                break;
        }

        error_page 500 502 503 504 /500.html;
        location = /500.html {
                root {{project_root}}/code/templates;
        }
}
